.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 17px;
  margin-top: 54px;
  outline: none;
}

.popup__input:last-of-type {
  margin-top: 13px;
}

.popup__input:not(:focus):invalid {
  border-bottom: 1px solid #ff0000; 
  outline: none;
}