.popup__submit-button {
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  margin: 31px 0 0;
  padding: 14px 0 18px;
  border: none;
  outline: none;
}

.popup__submit-button:hover {
  opacity: .8;
}

.popup__submit-button:active {
  opacity: .9;
}


@media all and (max-width: 767px) {
  .popup__submit-button {
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0;
  }
}