.header__logo {
  width: 142px;
  height: 33px;
  margin-right: auto;
  margin-bottom: 41px;
}



@media all and (max-width: 544px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 0 auto 31.6px 27px;
  }
}