.elements {
  max-width: calc(100% - 400px);
  /*border: dashed 1px bisque;*/
}


@media all and (max-width: 1279px) {
  .elements {
    max-width: 68.75%;
  }
}

@media all and (max-width: 1023px) {
  .elements {
    max-width: 80%;
  }
}


@media all and (max-width: 768px) {
  .elements {
    max-width: calc(100% - 38px);
  }
}


