.popup__close {
  position: absolute;
  padding: 0;
  outline: none;
  right: -40px;
  top: -40px;
  width: 40.7px;
  height: 40.7px;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.popup__close:hover::before,
.popup__close:hover::after {
  opacity: .6;
}


.popup__close:active::after{
  border-left: rgb(192, 76, 76) 4px dashed;
}

.popup__close::after,
.popup__close::before {
  content: '';
  display: block;
  height: 40.7px;
  position: absolute;
  border-left: 4px solid #fff;
  transition: border-color .6s linear;
}

.popup__close::after {
  transform: rotate(-45deg);
}

.popup__close::before {
  transform: rotate(45deg);
}


@media all and (max-width: 767px) {

  .popup__close {
    
    right: 0px;
    top: -39.62px;
    width: 26px;
    height: 26px;
  }

  .popup__close::after,
  .popup__close::before {
    height: 30px;
  }

}