
.elements__like {
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  outline: none;
  background: url('../../../images/heart.svg');
  align-self: center;
  cursor: pointer;
}


.elements__like:hover {
  opacity: 0.5;
}

.elements__like:active {
  opacity: .7;
  
}
