.footer {
  max-width: calc(100% - 400px);
  margin-top: 50px;
  border: deepskyblue 1px dotted;
}


@media all and (max-width: 1279px) {
  .footer {
    max-width: 68.75%;
  }
}

@media all and (max-width: 767px) {
  .footer {
    max-width: 80%;
  }
}

@media all and (max-width: 544px) {
  .footer {
    max-width: 100%;
  }
}